.navbar {
    background: #0b0b0b;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 40;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    .brand .logo {
        font-weight: 700;
        text-decoration: none;
        color: #fff;

        span {
            color: #ff2b2b;
        }
    }

    .nav-links {
        list-style: none;
        width: 40%;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;

        li a {
            text-decoration: none;
            padding: .4rem .6rem;
            border-radius: 6px;
        }

        .active {
            a {
                color: #ff2b2b;
                cursor: pointer;
                font-family: math;
            }
        }

        li:hover {
            color: #ff2b2b;
        }
    }

    .nav-toggle {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
    }
}

/* Mobile */
@media (max-width: 800px) {
    .navbar {
        .nav-toggle {
            display: block;
            font-size: 15px;
            padding: 0px 4px;
            font-weight: bolder;
            background-color: red;
            cursor: pointer;
        }

        .nav-links {
            position: absolute;
            right: 0;
            top: 51px;
            background: rgba(0, 0, 0, 0.75);
            flex-direction: column;
            display: none;

            &.open {
                display: flex;
            }

            li {
                padding: 1px 41px;
                border-bottom: 1px solid rgba(220, 20, 20, 0.44);
                padding: 7px 10px;

                a {
                    padding: 0;
                }

            }

            li.active {
                background-color: #ff2b2b;
                cursor: pointer;
                font-family: math;

                a {
                    color: #fff;
                }
            }

            li:last-child {
                border-bottom: none;
            }
        }
    }
}