<section class="hero container">
  <div class="hero-left">
    <h1>Hi, It's <span class="accent">Mahesh</span></h1>
    <h2 class="subtitle cursor typewriter-animation">I'm a <span class="accent">Front-End Developer </span></h2>
    <p class="lead">
      I build responsive, accessible and performant web apps. I convert designs to pixel-perfect user interfaces and
      focus on component reusability.
    </p>

    <div class="cta">
      <a routerLink="/projects" class="btn">View Projects</a>
      <a routerLink="/contact" class="btn outline">Contact</a>
    </div>
  </div>

  <div class="hero-right">
    <!-- put your hero image in src/assets/hero.jpg -->
    <img src="/mahesh.png" alt="mahesh image" class="hero-photo" />
  </div>
</section>